<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbitmq="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!-- 1.引入配文件   -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    <!-- 2.创建工厂   -->
    <rabbitmq:connection-factory id="connectionFactory"
                                 host="${rabbitmq.host}" port="${rabbitmq.port}"
                                 virtual-host="${rabbitmq.virtual-host}"
                                 username="${rabbitmq.username}"
                                 password="${rabbitmq.password}"
                                 publisher-confirms="true"
                                 publisher-returns="true"/>
    <!-- 3.创建admin 用于远程创建、管理交换机、队列 -  -->
    <rabbitmq:admin id="rabbitAdmin" connection-factory="connectionFactory"/>
    <!--  4.创建队列  -->
    <!--  4.1 简单队列  -->
    <rabbitmq:queue id="spring-queue" name="spring-queue" auto-declare="true"/>
    <!--  4.2 work队列  -->
    <rabbitmq:queue id="spring-queue-work" name="spring-queue-work" auto-declare="true"/>
    <!--  4.3 pubsub有交换机的  -->
    <rabbitmq:queue id="spring-queue-pubsub01" name="spring-queue-pubsub01" auto-declare="true"/>
    <rabbitmq:queue id="spring-queue-pubsub02" name="spring-queue-pubsub02" auto-declare="true"/>
    <rabbitmq:fanout-exchange name="spring-pubsub-exchange">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-pubsub01"/>
            <rabbitmq:binding queue="spring-queue-pubsub02"/>
        </rabbitmq:bindings>
    </rabbitmq:fanout-exchange>
    <!--  4.4 routing路由交换机的  -->
    <rabbitmq:queue id="spring-queue-routing01" name="spring-queue-routing01" auto-declare="true"/>
    <rabbitmq:queue id="spring-queue-routing02" name="spring-queue-routing02" auto-declare="true"/>
    <rabbitmq:direct-exchange name="spring-routing-exchange">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-routing01" key="error"/>
            <rabbitmq:binding queue="spring-queue-pubsub02" key="info"/>
            <rabbitmq:binding queue="spring-queue-pubsub02" key="error"/>
        </rabbitmq:bindings>
    </rabbitmq:direct-exchange>
    <!--  4.5 topic由交换机的  -->
    <rabbitmq:queue id="spring-queue-topic01" name="spring-queue-topic01" auto-declare="true" durable="true"/>
    <rabbitmq:queue id="spring-queue-topic02" name="spring-queue-topic02" auto-declare="true" durable="true"/>
    <rabbitmq:topic-exchange name="spring-topic-exchange" durable="true">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic01" pattern="*.orange.*"/>
            <rabbitmq:binding queue="spring-queue-topic02" pattern="*.*.rabbit"/>
            <rabbitmq:binding queue="spring-queue-topic02" pattern="lazy.#"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>

    <!--  5.定义rabbitmqTemplate对象操作可以在代码中方便发送消息  -->
    <rabbitmq:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <!--  测试消息可靠性  -->
    <rabbitmq:queue id="spring-queue-topic-confirm-return01" name="spring-queue-topic-confirm-return01"/>
    <rabbitmq:topic-exchange name="spring-topic-exchange2">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic-confirm-return01" pattern="*.orange.*"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>

    <!--  测试ttl过期时间队列  -->
    <rabbitmq:queue id="spring-queue-topic-ttl" name="spring-queue-topic-ttl" durable="true">
        <rabbitmq:queue-arguments>
            <entry key="x-message-ttl" value="15000" value-type="java.lang.Integer"/>
        </rabbitmq:queue-arguments>
    </rabbitmq:queue>
    <rabbitmq:topic-exchange name="spring-topic-ttl-exchange">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic-ttl" pattern="a.#"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>
    <!--  测试单条消息ttl过期时间  -->
    <rabbitmq:queue id="spring-queue-topic-ttl02" name="spring-queue-topic-ttl02"/>
    <rabbitmq:topic-exchange name="spring-topic-ttl-exchange02">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic-ttl02" pattern="a.#"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>

    <!-- 测试死信队列两步  -->
    <!--  1.正常队列  -->
    <rabbitmq:queue id="spring-queue-topic-normal01" name="spring-queue-topic-normal01">
        <rabbitmq:queue-arguments>
            <entry key="x-dead-letter-exchange" value="spring-dxl-exchange01"/>
            <entry key="x-dead-letter-routing-key" value="b.b.b"/>
            <entry key="x-message-ttl" value="15000" value-type="java.lang.Integer"/>
            <entry key="x-max-length" value="10" value-type="java.lang.Integer"/>
        </rabbitmq:queue-arguments>
    </rabbitmq:queue>
    <rabbitmq:topic-exchange name="spring-normal-exchange01">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic-normal01" pattern="a.#"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>
    <!--  2.死信队列  -->
    <rabbitmq:queue id="spring-queue-topic-dxl01" name="spring-queue-topic-dxl01"/>
    <rabbitmq:topic-exchange name="spring-dxl-exchange01">
        <rabbitmq:bindings>
            <rabbitmq:binding queue="spring-queue-topic-dxl01" pattern="b.#"/>
        </rabbitmq:bindings>
    </rabbitmq:topic-exchange>

</beans>