<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbitmq="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!-- 1.引入配文件   -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    <!-- 2.创建工厂   -->
    <rabbitmq:connection-factory id="connectionFactory"
                                 host="${rabbitmq.host}" port="${rabbitmq.port}"
                                 virtual-host="${rabbitmq.virtual-host}"
                                 username="${rabbitmq.username}"
                                 password="${rabbitmq.password}"/>
    <!-- 3.创建admin 用于远程创建、管理交换机、队列 -  -->
    <rabbitmq:admin id="rabbitAdmin" connection-factory="connectionFactory"/>
    <!--  4.创建队列  -->
    <!--  4.1 简单队列  -->
    <rabbitmq:queue id="spring-queue" name="spring-queue" auto-declare="true"/>
    <!--  4.2 work队列  -->
    <rabbitmq:queue id="spring-queue-work" name="spring-queue-work" auto-declare="true"/>
    <!--  5.定义rabbitmqTemplate对象操作可以在代码中方便发送消息  -->
    <rabbitmq:template id="rabbitTemplate" connection-factory="connectionFactory"/>

</beans>