<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--    <filter>-->
    <!--        <filter-name>HelloFilter</filter-name>-->
    <!--        <filter-class>com.xiwen.filter.HelloFilter</filter-class>-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>HelloFilter</filter-name>-->
    <!--        <url-pattern>/hello</url-pattern>-->
    <!--    </filter-mapping>-->
    <filter>
        <filter-name>FilterPathFilter</filter-name>
        <filter-class>com.xiwen.filter.FilterPathFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FilterPathFilter</filter-name>
        <!--        后缀匹配-->
        <url-pattern>*.action</url-pattern>
        <!--前缀匹配-->
        <!--        <url-pattern>/user/*</url-pattern>-->
        <!--        精准匹配-->
        <!--        <url-pattern>/user/filterpath.action</url-pattern>-->
        <!--        servlet名字匹配-->
        <!--        <servlet-name>FilterPathServlet</servlet-name>-->
    </filter-mapping>

    <!--    过滤链是跟mapping的先后顺序有关，和filter无关-->
    <!--    过滤器前和过滤器后只要放行当前的过滤后一定执行-->
    <!--    注解的方式先后顺序是和过滤器类名的的字母大小有关（不重要，后期不用）-->
    <filter>
        <filter-name>Filter1</filter-name>
        <filter-class>com.xiwen.filter.Filter1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter1</filter-name>
        <url-pattern>/FilterChainServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>com.xiwen.filter.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <url-pattern>/FilterChainServlet</url-pattern>
    </filter-mapping>
</web-app>