<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}" href="/">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>访问了首页</h1>
<a href="hello/hello">hell页面</a>
<a href="hello/hello?username=aaa&abc=abc">hell页面带参数的跳转</a>
<form method="post" action="hello/hello">
    username:<input name="username"><br>
    abc:<input name="abc"><br>
    <button type="submit">用post请求跳转到hello</button>
</form>
<br><br>
<h1>@RequestMapping支持Ant 风格的路径</h1>
<a href="hello/a/ant">Test Ant</a><br>
<a href="hello/ab/ant">Test Ant</a><br>
<a href="hello/a/b/c/ant">Test Ant</a><br><br>

<h1>获取参数</h1>
<a href="hello/param?key1=参数&key2=参数2">Test Param</a><br>
<a href="hello/param/value/param2">Test Param2</a><br>

<br>
</body>
</html>