<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}" href="/">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>首页</h1>
<h2>返回ModerAndView</h2>
<a href="hello/mvTest">测试点击mapTest</a><br>

<h2>返回字符串</h2>
<a href="hello/strMapTest">测试点击strMapTest</a><br>
<a href="hello/strModelMapTest">测试点击strModelMapTest</a><br>
<a href="hello/strModelTest">测试点击strModelTest</a><br>

<h2>返回字符串</h2>
<a href="hello/forward">普通跳转</a>
<a href="hello/redirect">重定向</a>
</body>
</html>