<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiwen.system.mapper.SysUserMapper">

    <select id="getRolesByUid" resultType="com.xiwen.model.system.SysMenu">
        select sm.*
        from sys_user su
                 join sys_user_role sur on su.id = sur.user_id
                 join sys_role sr on sur.role_id = sr.id
                 join sys_role_menu srm on sr.id = srm.role_id
                 join sys_menu sm on srm.menu_id = sm.id
        where su.is_deleted = 0
          and sur.is_deleted = 0
          and sr.is_deleted = 0
          and srm.is_deleted = 0
          and sm.is_deleted = 0
          and sm.status = 1
          and user_id = #{id}
    </select>
</mapper>