<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/crud-demo/">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/updateServlet}">
    <table>

        <tr>
            <td>姓名:<input type="text" name="name" th:value="${t_name}"></td>
        </tr>
        <tr>
            <td>武器:<input type="text" name="weapon" th:value="${t_weapon}"></td>
        </tr>
    </table>
    <input type="submit" value="更新"/>
    <a href="index.html"><input type="button" value="返回"></a>
</form>
</body>
</html>