<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--  切换开发环境  -->
    <environments default="development">
        <!--   开发环境1     -->
        <environment id="development">
            <!--      jdbc事务      -->
            <transactionManager type="JDBC"/>
            <!--      mybatis的自带数据库连接池      -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:33068/ssm"/>
                <property name="username" value="root"/>
                <property name="password" value="xiwen123"/>
            </dataSource>
        </environment>
    </environments>
    <!--  加载映射文件  -->
    <mappers>
        <mapper resource="mybatis/mappings/EmployeeDao.xml"/>
        <mapper resource="mybatis/mappings/DepartmentDao.xml"/>
    </mappers>

</configuration>