<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiwen.oracle11g.mapper.TbStuMapper">

    <resultMap id="BaseResultMap" type="com.xiwen.oracle11g.entity.TbStu">
            <id property="id" column="ID" jdbcType="DECIMAL"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="age" column="AGE" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NAME,AGE
    </sql>

    <select id="cs" resultType="com.xiwen.oracle11g.entity.TbStu">
        select id, name, age
        from TB_STU
        where id > 22
    </select>
</mapper>
