<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--  注解扫描包  -->
    <context:component-scan base-package="com.xiwen"/>
    <!--配置视图解析器 (SpringBoot不用配，所以复制即可)-->
    <bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver" id="viewResolver">
        <!--配置字符集属性-->
        <property name="characterEncoding" value="UTF-8"/>
        <!--配置模板引擎属性-->
        <property name="templateEngine">
            <!--配置内部bean-->
            <bean class="org.thymeleaf.spring5.SpringTemplateEngine">
                <!--配置模块的解析器属性-->
                <property name="templateResolver">
                    <!--配置内部bean-->
                    <bean class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
                        <!--配置前缀-->
                        <property name="prefix" value="/WEB-INF/views/"/>
                        <!--配置后缀-->
                        <property name="suffix" value=".html"/>
                        <!--配置字符集-->
                        <property name="characterEncoding" value="UTF-8"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <!--为文件上传配置解析器
      id的值必须为multipartResolver ★
  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置编码格式-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--   每个单独的文件大小     -->
        <property name="maxUploadSizePerFile" value="10240"/>
        <!--   总共上传的文件大小     -->
        <property name="maxUploadSize" value="102400"/>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--拦截器配置方式一：bean标签，拦截所有过SpringMVC的请求-->
        <!--        <bean id="helloInterceptor" class="com.atguigu.interceptor.HelloInterceptor"/>-->
        <!--拦截器配置方式二：mvc:interceptor标签
            mvc:mapping ：设置拦截路径
            bean ：  拦截器的bean
        -->

        <!--        <bean id="helloInterceptor" class="com.xiwen.interceptor.HelloInterceptor"/>-->
        <!--        <mvc:interceptor>-->
        <!--            <mvc:mapping path="/hello/*"/>-->
        <!--            <bean id="helloInterceptor" class="com.xiwen.interceptor.HelloInterceptor"/>-->
        <!--        </mvc:interceptor>-->

        <!--    设置拦截链哪个在上先执行哪个    -->
        <mvc:interceptor>
            <mvc:mapping path="/hello/**"/>
            <bean id="helloInterceptor" class="com.xiwen.interceptor.HelloInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/hello/*"/>
            <bean class="com.xiwen.interceptor.SecondInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>