<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>计算元素</h1>
        性:<input type="text" v-model="firstName"> <br>
        名:<input type="text" v-model="lastName">
        <br><br>
        <h1>显示计算结果：{{fullName}}</h1>

    </div>

    <script>
        new Vue({
            el: "#root",
            data: {
                firstName: "张",
                lastName: "三"
            },
            computed: {
                /* fullName: {
                    get: function () {
                        return this.firstName + this.lastName;
                    }
                } */
                fullName() {
                    return this.firstName + this.lastName;
                }
            }
        })

    </script>

</body>

</html>